<div class="grid">
  <div class="left">
    <div style="display: flex; flex-direction: column">
      <div style="color: red">DASHBOARD:</div>
      <div>
        Send Data To Server
        <input #input type="text" autofocus placeholder="Enter some text" (input)="input$.next(input.value)">
      </div>
    </div>
  </div>
  <div class="right">
    Data From Server
    <div class="server-text">{{dashboard?.text}}</div>
  </div>

  <div class="left">
    <div style="display: flex; flex-direction: column">
      <div style="color: red">TERMINAL:</div>
      <div>
        Send Data To Server
        <input #input2 type="text" placeholder="Enter some text" (input)="input2$.next(input2.value)">
      </div>
    </div>
  </div>
  <div class="right">
    Data From Server
    <div class="server-text">{{terminal?.text}}</div>
  </div>
</div>

