<div class="grid">

  <!--DASHBOARD-->
  <div class="left">
    <div style="display: flex; flex-direction: column">
      <div style="color: red">DASHBOARD:</div>
      <div>
        Send Data To Server
        <input #input type="text" autofocus placeholder="Enter some text" (input)="input$.next(input.value)">
      </div>
    </div>
  </div>
  <div class="right">
    Data From Server
    <div class="server-text">{{dashboard?.text}}</div>
  </div>

  <!--TERMINAL ROOM 1-->
  <div class="left">
    <div style="display: flex; flex-direction: column">
      <div style="color: red">TERMINAL ROOM 1:</div>
      <div>
        Send Data To Server
        <input #input2 type="text" placeholder="Enter some text" (input)="input2$.next(input2.value)">
      </div>
    </div>
  </div>
  <div class="right">
    Data From Server
    <div class="server-text">{{terminalRoom1?.text}}</div>
  </div>

  <!--TERMINAL ROOM 2-->
  <div class="left">
    <div style="display: flex; flex-direction: column">
      <div style="color: red">TERMINAL ROOM 2:</div>
      <div>
        Send Data To Server
        <input #input3 type="text" placeholder="Enter some text" (input)="input3$.next(input3.value)">
      </div>
    </div>
  </div>
  <div class="right">
    Data From Server
    <div class="server-text">{{terminalRoom2?.text}}</div>
  </div>
</div>

