app-terminal{
  margin: 50px;
}

.grid {
  display: grid;

  grid-template-columns: 1fr 1fr;
  grid-template-rows: 200px 200px;
  grid-gap: 20px;

}

.left {
  background-color: #212121;
  display: flex;
  align-items: center;
  color: white;
  padding: 20px;
  font-weight: bold;
}

input {
  height: 32px;
  width: 332px;
  margin-left: 20px;
  font-size: 18px;
}

input:focus {
  outline: 0;
}

.right {
  background-color: #757575;
  display: flex;
  align-items: center;
  font-size: 18px;
  padding: 20px;
  font-weight: bold;
}

.server-text {
  color: #FFC107;
  margin-left: 20px;
}
