<div class="et">
  <span class="title">{{titleText}}</span>
  <span class="et-text">{{et}}</span>
</div>
<div *ngIf="withOutput">
  <div class="textarea-send">
    <input (keyup.enter)="send(text)" type="text" #text placeholder="Type command and Enter for send"/>
    <!--<button (click)="send(text)">Send</button>-->
  </div>
</div>

<div class="terminal-container">
  <div #terminal id="terminal" [class.with-output]="withOutput"></div>
</div>

<!--<div class="terminal-output" *ngIf="withOutput">-->
  <!--<div #terminalOutput id="terminalOutput"></div>-->
<!--</div>-->

